@font-face {
  font-family: "Arial GEO";
  src: url("./arial-geo-webfont.eot"); /* IE9 Compat Modes */
  src: url("./arial-geo-webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./arial-geo-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./arial-geo-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./arial-geo-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./arial-geo-webfont.svg#arial_georegular")
      format("svg"); /* Legacy iOS */
}
