@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.bcl {
  background-color: #140021;
}
.bt {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/backgrounds/bg-top.svg");
}
.bb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/backgrounds/bg-bottom.svg");
}
.bc {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/backgrounds/bg-center.svg");
}
.ab {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/backgrounds/bg-about.svg");
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.cbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: #9900ff;
  border: 2px solid #560090;
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 #560090;
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px #5600908f);
}

.cbtn:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(#654dff63);
}
.bgc {
  background-color: #560090;
}

.mmm {
  color: #c164ff;
}
.tagcloud--item {
  user-select: none;
}
.tagcloud--item:hover {
  color: #c164ff;
}
